# -------------------------
# Virtual environments
# -------------------------
venv/
.venv/
env/

# -------------------------
# Python bytecode
# -------------------------
__pycache__/
*.py[cod]
*.pyo

# -------------------------
# Environment variables
# -------------------------
.env
.env.*

# -------------------------
# Data (large files)
# -------------------------
data/

# -------------------------
# Logs & temp
# -------------------------
*.log
*.tmp
*.cache

# -------------------------
# IDE / Editor
# -------------------------
.idea/
.vscode/
*.swp
*.swo
*~

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Distribution / packaging
# -------------------------
*.egg-info/
dist/
build/

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Streamlit secrets
# -------------------------
.streamlit/secrets.toml